body {

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1044%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M45 175.5L114.28 215.5L114.28 295.5L45 335.5L-24.28 295.5L-24.28 215.5zM114.28 295.5L183.57 335.5L183.57 415.5L114.28 455.5L45 415.5L45 335.5zM114.28 535.5L183.57 575.5L183.57 655.5L114.28 695.5L45 655.5L45 575.5zM252.85 55.5L322.14 95.5L322.14 175.5L252.85 215.5L183.57 175.5L183.57 95.5zM391.42 295.5L460.7 335.5L460.7 415.5L391.42 455.5L322.14 415.5L322.14 335.5zM529.99 295.5L599.27 335.5L599.27 415.5L529.99 455.5L460.7 415.5L460.7 335.5zM876.41 -64.5L945.69 -24.5L945.69 55.5L876.41 95.5L807.12 55.5L807.12 -24.5zM876.41 175.5L945.69 215.5L945.69 295.5L876.41 335.5L807.12 295.5L807.12 215.5zM945.69 535.5L1014.98 575.5L1014.98 655.5L945.69 695.5L876.41 655.5L876.41 575.5zM1084.26 55.5L1153.54 95.5L1153.54 175.5L1084.26 215.5L1014.98 175.5L1014.98 95.5zM1084.26 295.5L1153.54 335.5L1153.54 415.5L1084.26 455.5L1014.98 415.5L1014.98 335.5zM1084.26 535.5L1153.54 575.5L1153.54 655.5L1084.26 695.5L1014.98 655.5L1014.98 575.5zM1292.11 -64.5L1361.4 -24.5L1361.4 55.5L1292.11 95.5L1222.83 55.5L1222.83 -24.5zM1499.96 295.5L1569.25 335.5L1569.25 415.5L1499.96 455.5L1430.68 415.5L1430.68 335.5z' stroke='rgba(180%2c 184%2c 195%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M37 175.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM106.28 215.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM106.28 295.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM37 335.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM-32.28 295.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM-32.28 215.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM175.57 335.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM175.57 415.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM106.28 455.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM37 415.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM106.28 535.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM175.57 575.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM175.57 655.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM106.28 695.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM37 655.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM37 575.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM244.85 55.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM314.14 95.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM314.14 175.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM244.85 215.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM175.57 175.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM175.57 95.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM383.42 295.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM452.7 335.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM452.7 415.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM383.42 455.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM314.14 415.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM314.14 335.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM521.99 295.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM591.27 335.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM591.27 415.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM521.99 455.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM868.41 -64.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM937.69 -24.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM937.69 55.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM868.41 95.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM799.12 55.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM799.12 -24.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM868.41 175.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM937.69 215.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM937.69 295.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM868.41 335.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM799.12 295.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM799.12 215.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM937.69 535.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1006.98 575.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1006.98 655.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM937.69 695.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM868.41 655.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM868.41 575.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1076.26 55.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1145.54 95.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1145.54 175.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1076.26 215.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1006.98 175.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1006.98 95.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1076.26 295.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1145.54 335.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1145.54 415.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1076.26 455.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1006.98 415.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1006.98 335.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1076.26 535.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1145.54 575.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1145.54 655.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1076.26 695.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1284.11 -64.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1353.4 -24.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1353.4 55.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1284.11 95.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1214.83 55.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1214.83 -24.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1491.96 295.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1561.25 335.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1561.25 415.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1491.96 455.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1422.68 415.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0zM1422.68 335.5 a8 8 0 1 0 16 0 a8 8 0 1 0 -16 0z' fill='rgba(180%2c 184%2c 195%2c 0.72)'%3e%3c/path%3e%3cpath d='M28.23 125.86L71.53 150.86L71.53 200.86L28.23 225.86L-15.07 200.86L-15.07 150.86zM28.23 425.86L71.53 450.86L71.53 500.86L28.23 525.86L-15.07 500.86L-15.07 450.86zM71.53 500.86L114.84 525.86L114.84 575.86L71.53 600.86L28.23 575.86L28.23 525.86zM114.84 -24.14L158.14 0.86L158.14 50.86L114.84 75.86L71.53 50.86L71.53 0.86zM158.14 200.86L201.44 225.86L201.44 275.86L158.14 300.86L114.84 275.86L114.84 225.86zM158.14 350.86L201.44 375.86L201.44 425.86L158.14 450.86L114.84 425.86L114.84 375.86zM114.84 425.86L158.14 450.86L158.14 500.86L114.84 525.86L71.53 500.86L71.53 450.86zM201.44 125.86L244.74 150.86L244.74 200.86L201.44 225.86L158.14 200.86L158.14 150.86zM244.74 200.86L288.05 225.86L288.05 275.86L244.74 300.86L201.44 275.86L201.44 225.86zM244.74 350.86L288.05 375.86L288.05 425.86L244.74 450.86L201.44 425.86L201.44 375.86zM331.35 200.86L374.65 225.86L374.65 275.86L331.35 300.86L288.05 275.86L288.05 225.86zM547.86 125.86L591.16 150.86L591.16 200.86L547.86 225.86L504.56 200.86L504.56 150.86zM547.86 275.86L591.16 300.86L591.16 350.86L547.86 375.86L504.56 350.86L504.56 300.86zM677.77 500.86L721.07 525.86L721.07 575.86L677.77 600.86L634.47 575.86L634.47 525.86zM764.37 50.86L807.68 75.86L807.68 125.86L764.37 150.86L721.07 125.86L721.07 75.86zM807.68 425.86L850.98 450.86L850.98 500.86L807.68 525.86L764.37 500.86L764.37 450.86zM894.28 275.86L937.58 300.86L937.58 350.86L894.28 375.86L850.98 350.86L850.98 300.86zM1024.19 50.86L1067.49 75.86L1067.49 125.86L1024.19 150.86L980.89 125.86L980.89 75.86zM1024.19 200.86L1067.49 225.86L1067.49 275.86L1024.19 300.86L980.89 275.86L980.89 225.86zM1024.19 500.86L1067.49 525.86L1067.49 575.86L1024.19 600.86L980.89 575.86L980.89 525.86zM1197.4 50.86L1240.7 75.86L1240.7 125.86L1197.4 150.86L1154.1 125.86L1154.1 75.86zM1197.4 500.86L1240.7 525.86L1240.7 575.86L1197.4 600.86L1154.1 575.86L1154.1 525.86zM1284 50.86L1327.31 75.86L1327.31 125.86L1284 150.86L1240.7 125.86L1240.7 75.86zM1240.7 275.86L1284 300.86L1284 350.86L1240.7 375.86L1197.4 350.86L1197.4 300.86zM1284 500.86L1327.31 525.86L1327.31 575.86L1284 600.86L1240.7 575.86L1240.7 525.86zM1327.31 275.86L1370.61 300.86L1370.61 350.86L1327.31 375.86L1284 350.86L1284 300.86zM1413.91 125.86L1457.21 150.86L1457.21 200.86L1413.91 225.86L1370.61 200.86L1370.61 150.86z' stroke='rgba(78%2c 82%2c 86%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1044'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.tabela {
 
 float: left;

}

.caixinha {

height: 60px;
width: 60px;
display: block;
border-color: black;
border-width: 5px;
border-radius: 5%;
margin: 4px;
transition:width 1s, height 1s, transform 1s;
transition-timing-function: linear;
box-shadow: 3px 3px 3px white;

}

.caixinha:hover {

  width: 70px;
  height:70px;
}

.lilas {

  background: rgb(255,210,234);
background: radial-gradient(circle, rgba(255,210,234,1) 0%, rgba(177,111,224,1) 100%);
}

.azul {

  background: rgb(155,172,255);
  background: radial-gradient(circle, rgba(155,172,255,1) 0%, rgba(27,68,210,1) 100%);

}

.vermelho {

  background: rgb(248,255,129);
  background: radial-gradient(circle, rgba(248,255,129,1) 0%, rgba(210,27,27,1) 100%);

}

.rosa {

  background: rgb(255,150,150);
background: radial-gradient(circle, rgba(255,150,150,1) 0%, rgba(235,56,105,1) 100%);

}

.amarelo {

  background: rgb(255,177,240);
  background: radial-gradient(circle, rgba(255,177,240,1) 0%, rgba(254,255,53,1) 100%);
}

.verde {

  background: rgb(168,255,245);
  background: radial-gradient(circle, rgba(168,255,245,1) 0%, rgba(24,226,95,1) 100%);
}

.numero {

float: right;
position: relative;
font-size: 10px;
color: white;
margin-right: 2px;
margin-top: 2px;

}

.elemento {

font-size: 30px ;
text-align: center;
position: relative;
display: block;
padding-top: 0;
margin-left: 10px;
color: white;
font-family:monospace;
text-shadow: 1px 1px 0 #707179, -1px -1px 0 #707179,  1px -1px 0 #707179, -1px 1px 0 #707179,  1px 1px 0 #707179;

}


.textop {

color: white ;
position: relative;
text-align: center;
font-size: 10px;
margin-top: 0px;
margin-bottom: 5px;
text-shadow: 1px 1px 0 #707179, -1px -1px 0 #707179,  1px -1px 0 #707179, -1px 1px 0 #707179,  1px 1px 0 #707179;
}

.numeroatomico {

position: relative;
text-align: center;
float:right;
color: white;
text-shadow: 1px 1px 0 #707179, -1px -1px 0 #707179,  1px -1px 0 #707179, -1px 1px 0 #707179,  1px 1px 0 #707179;
padding: 0;
margin: 0%;
font-size: 8px;
margin-right: 32px;
}

.colunaM {

float: left;

}

.blank {

 height: 60px;
 width: 60px;
 display: block; 
 background-color: transparent;
 margin: 5px;
}

.colunaAT {

float: left;

}

.colunaMT {

  float: left;

}

.colunaMT2 {

  float: left;
}

.colunaMT3 {

float: left;
}

.colunaMT4 {

  float: left;
}

.colunaMT5 {

  float: left;
}

.colunaMT6 {

  float: left;
}

.colunaMT7 {

float: left;
}

.colunaMT8 {

  float: left;
}

.colunaMT9 {

  float: left;
}

.colunaMT10 {

  float: left;
}

.colunaNM1 {

  float: left;
}

.colunaNM2 {

  float: left;
}

.colunaNM3 {

  float:left;
}

.colunaNM4 {

  float: left;
}

.colunaNM5 {

  float: left;
}

.colunaNM6 {

float: left;
}

.caixinha2 {

 
height: 60px;
width: 60px;
display: block;
border-color: black;
border-width: 5px;
border-radius: 5%;
margin: 4px;
transition:width 1s, height 1s, transform 1s;
transition-timing-function: linear;
float: left;
box-shadow: 3px 3px 3px white;
} 

.caixinha2:hover{

  width: 70px;
  height: 70px;
}

.low {
display: inline;
width: 1100px;
height: 60px;
top: 500px;
padding:0;
margin: 0p;
margin-left: 190px;
float: left;
}

.colunaL1 {
display: inline-block;
position: relative;
height: 60px ;
width: 1100px;
}